/*
 * Copyright 2020 Nick Verlinden (https://nickverlinden.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:root {
    --font-size                 : 17px;
    --font-family               : sans-serif;

    --color                     : black;
    --background-color          : white;

    --spacing                   : var(--font-size);

    --border-width              : 1px;
    --border-radius             : 0px;

    --ui-transition-duration    : 0.2s;

    --focus-outline             : none;
}

body {
    font-family                 : var(--font-family);
    font-size                   : var(--font-size);

    color                       : rgb(var(--color));
    background-color            : rgb(var(--background-color));
}

/*
    Remove the oultine chrome puts around input elements by default
*/
*:focus {
    outline                     : var(--focus-outline);
}