/*
 * Copyright 2020 Nick Verlinden (https://nickverlinden.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
[theme='carbon'] {
    --font-family               : 'source-code-pro', sans-serif;
    
    --dark-color                : 35,   37,  45;
    --light-color               : 230, 232, 235;

    --black-color               : 11,   12,  14;
    --dark-grey-color           : 61,   77,  92;
    --light-grey-color          : 163, 179, 194;
    --white-color               : 249, 250, 251;
    --slate-color               : 120, 101, 124;
    --grape-color               : 90,   71, 140;
    --blue-color                : 51,   85, 180;
    --ocean-color               : 51,  135, 180;
    --mint-color                : 24,  140, 143;
    --green-color               : 24,  150, 113;
    --pea-color                 : 105, 150,  53;
    --army-color                : 155, 150,  63;
    --yellow-color              : 195, 150,  53;
    --orange-color              : 202, 110,  33;
    --red-color                 : 202,  60,  42;
    --pink-color                : 192,  50,  82;
    --purple-color              : 160,  51,  95;
    --wine-color                : 120,  51,  75;
    --rosy-color                : 110,  71,  75;
    --brown-color               : 110,  91,  75;

    --color                     : var(--dark-color);
    --background-color          : 153, 169, 184;

    --border-width              : 1px;
    --border-radius             : 4px; 
}

[theme='carbon'][theme-style='dark'] {
    --color                     : var(--light-grey-color);
    --background-color          : var(--dark-color);
}

